.backgroundImage{
    background-image: url('../Image/images.jpg');
    height: 7vh;
    margin-top: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 22%;
}
.text{
   text-align: center;
}